.trys {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(49, 48, 48);
}

.btn {
    text-align: center;
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    color: blue;
    background-color: blanchedalmond;
    border-radius: 30%;
}

#word {
    width: 30%;
    height: 30px;
}

.good {
    background-color: rgb(0, 255, 17);
    font-size: 1.6em;
}

.almost {
    background-color: rgb(255, 230, 0);
    font-size: 1.6em;
}

.bad {
    background-color: rgb(255, 0, 0);
    font-size: 1.6em;
}

div {
    border: 0.3em solid black;
    border-color: darkblue;
}

#win {
    font-weight: normal;
    text-align: center;
    color: blue;
}